.home {
  position: relative;
  height: 1100px;
}

/* Componente header */
.backgroundImage {
  position: relative;
  background-image: url("../../assets/img/cowork.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 574px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.backgroundImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(27, 22, 41, 0.65);
  z-index: 1;
}

.content {
  width: 40%;
  z-index: 2;
}

.tituloBanner {
  font-family: var(--os800);
  font-size: 75px;
  line-height: 71px;
  text-align: center;
  color: #fff;
}

.buttonSend {
  width: 138px;
  height: 50px;
  border: none;
  background: none;
  border-radius: 30px;
  background-color: var(--verde100);
}

.buttonSend:hover {
  background-color: var(--rosa100);
}

/* Componente de Cards */
.cardsComponent {
  margin: 113px 197px 166px 197px;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 369px;
  border-radius: 20px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
  padding: 0 50px;
  z-index: 11;
  background: #fff;
}

.cohete {
  width: 72px;
  height: 74px;
}

/* Círculos */
.home::before,
.home::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  z-index: 10;
}

.home::before {
  width: 490px;
  height: 490px;
  background: #ff93f4;
  top: 387px;
  right: 0;
  transform: translateX(50%);
}

.home::after {
  width: 152px;
  height: 152px;
  top: 1146px;
  left: -76px;
  gap: 0px;
  background: rgba(255, 147, 244, 1);
}

/* Mobile */
@media (max-width: 768px) {
  .home {
    height: 2040px;
    overflow-x: hidden;
  }
  .tituloBanner {
    font-family: var(--os800);
    font-size: 55px;
    line-height: 50px;
    text-align: center;
  }
  .cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
  }

  .content {
    width: 100%;
  }

  .cardsComponent {
    margin: 86px 0 193px 0;
  }

  .cardsContainer {
    gap: 40px;
  }

  .home::before,
  .home::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    z-index: 10;
  }

  .home::before {
    top: 387px;
    right: revert-layer;
  }

  .home::after {
    top: 1964px;
    left: -76px;
  }
}
